<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DetailArticle</servlet-name>
        <servlet-class>servlet.DetailArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertClient</servlet-name>
        <servlet-class>servlet.InsertClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>servlet.Authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>servlet.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPanier</servlet-name>
        <servlet-class>servlet.AddPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppArtPanier</servlet-name>
        <servlet-class>servlet.SuppArtPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArticleToPanier</servlet-name>
        <servlet-class>servlet.AddArticleToPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidePanier</servlet-name>
        <servlet-class>servlet.ValidePanier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailArticle</servlet-name>
        <url-pattern>/DetailArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertClient</servlet-name>
        <url-pattern>/InsertClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/Authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPanier</servlet-name>
        <url-pattern>/AddPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppArtPanier</servlet-name>
        <url-pattern>/SuppArtPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArticleToPanier</servlet-name>
        <url-pattern>/AddArticleToPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidePanier</servlet-name>
        <url-pattern>/ValidePanier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
